<div class="container-fluid">
    <div class="row page-titles">
      <div class="col-md-5 align-self-center">
        <h4 class="text-themecolor">Pages Parameters</h4>
      </div>
      <div class="col-md-7 align-self-center text-right">
        <div class="d-flex justify-content-end align-items-center">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="javascript:void(0)">{{LANG.Home}}</a></li>
            <li class="breadcrumb-item active">Pages Parameters</li>
          </ol>
        </div>
      </div>
    </div>
  
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <form class="mt-4" [formGroup]="descriptionForm">
              <div class="row">
             
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="exampleInputEmail1">keyword</label>
                    <input
                      type="email"
                      class="form-control"
                      name="title"
                      placeholder="{{LANG.Enter_Title}}"
                      [(ngModel)]="title"
                      formControlName="title"
                      [(ngModel)]="ckeditorContent"
                    >
                    <span class="error" *ngIf="error.title">{{LANG.This_field_is_required}}</span>
  
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="exampleInputPassword1"
                      >Replace with</label
                    >
                    <input
                      type="text"
                      class="form-control"
                      name="ar_title"
                      placeholder="{{LANG.Enter_Ar_title}}"
                      [(ngModel)]="ar_title"
                    formControlName="ar_title"
                    />
                    <span class="error" *ngIf="error.ar_title">{{LANG.This_field_is_required}}</span>
  
                  </div>
                </div>
               
              </div>
              
            
              <button *ngIf="!load" type="submit" class="btn btn-primary mt-2" (click)="addProductAttribute()">{{id ? LANG.Update : LANG.Submit}}</button>
              <button class="btn btn-primary" *ngIf="load">                                
                  <loader></loader>
              </button>
            </form>
            <div class="table-responsive m-t-40">
              <table id="example23"
                  class="display nowrap table table-hover table-striped table-bordered"
                  cellspacing="0" width="100%">
                  <thead>
                      <tr>
                          <th>Keyword</th>
                         
                          
                          <th>Replace with</th>
                          <th>Action</th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr *ngFor="let data of pages_list; let i=index;">
                          <td>{{data.keyword}}</td>
                          <td>{{data.replace_with}}</td>
                         
                          <td> 
                               <span class="del mr-3" (click)="showDeleteModal(data)"><i class="fa fa-trash"></i></span> 
                              <a (click)="edit(data)"><i class="fas fa-edit"></i></a>
                          </td>
                      </tr>   
                     
                  </tbody>
              </table>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-body">
            <p>{{LANG.Are_you_sure_you_want_to_delete_this}}</p>
        </div>
        <div class="modal-footer">
            <button type="button" *ngIf="!load" data-dismiss="modal" class="btn btn-primary btn-danger loader-btn w-30" id="delete" (click)="delete()">{{LANG.Delete}}</button>
            <button type="button" *ngIf="load" class="btn btn-primary btn-danger loader-btn w-30"><loader></loader></button>
            <button type="button" data-dismiss="modal" class="btn loader-btn w-30" (click)="cancel()" [disabled]="load">{{LANG.Cancel}}</button>
        </div>
      </div>
    </div>
</div>