<div class="container-fluid">
    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <div class="row page-titles">
        <div class="col-md-5 align-self-center">
            <h4 class="text-themecolor">{{LANG.Pages}}</h4>
        </div>
        <div class="col-md-7 align-self-center text-right">
            <div class="d-flex justify-content-end align-items-center">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="javascript:void(0)">{{LANG.Home}}</a></li>
                    <li class="breadcrumb-item active">{{LANG.Pages}}</li>
                </ol>
                <button type="button" class="btn btn-info d-none d-lg-block m-l-15" (click)="addKYC()"><i
                    class="fa fa-plus-circle"></i> {{LANG.Create_New}}</button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="table-responsive m-t-40">
                        <table id="example23"
                            class="table-class display nowrap table table-hover table-striped table-bordered"
                            cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th>{{LANG.TITLE}}</th>
                                    <th>{{LANG.AR_TITLE}}</th>
                                    <th>{{LANG.description}}</th>
                                    <th>{{LANG.ar_description}}</th>
                                    <th>Type</th>
                                    <th>{{LANG.STATUS}}</th>
                                    <th>{{LANG.POSITION}}</th>
                                    <th>{{LANG.Action}}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let data of pages_list; let i=index;">
                                    <td>{{data.title}}</td>
                                    <td>{{data.ar_title}}</td>
                                    <td>{{data.type}}</td>
                                    <td>{{data.description | slice:0:100}} ...</td>
                                    <td>{{data.ar_description | slice:0:100}} ...</td>
                                    <td>{{data.status == '1' ? LANG.Active : LANG.Inactive}}</td>
                                    <td>{{data.position}}</td>
                                    <td> 
                                        <!-- <span class="del mr-3" (click)="showDeleteModal(data)"><i class="fa fa-trash"></i></span> -->
                                        <a (click)="edit(data)"><i class="fas fa-edit"></i></a>
                                    </td>
                                </tr>   
                               
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-body">
            <p>{{LANG.Are_you_sure_you_want_to_delete_this}}</p>
        </div>
        <div class="modal-footer">
            <button type="button" *ngIf="!load" data-dismiss="modal" class="btn btn-primary btn-danger loader-btn w-30" id="delete" (click)="delete()">{{LANG.Delete}}</button>
            <button type="button" *ngIf="load" class="btn btn-primary btn-danger loader-btn w-30"><loader></loader></button>
            <button type="button" data-dismiss="modal" class="btn loader-btn w-30" (click)="cancel()" [disabled]="load">{{LANG.Cancel}}</button>
        </div>
      </div>
    </div>
</div>
